@import "tailwindcss";

/* ===== Custom base styles ===== */
body {
  margin: 0;
  padding: 0;
  font-feature-settings: "rlig" 1, "calt" 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}